{% extends 'base.html' %}

{% block pconteudo %}
<br>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
          <table class="table text-center">
            <div class="d-flex justify-content-center color">#</div>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
        </table>
          </div>
            <div class="col-md-4">
          <table class="table text-center">
            <div class="d-flex justify-content-center color">Estagiario</div>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
        </table>
          </div>
            <div class="col-md-4">
          <table class="table text-center">
            <div class="d-flex justify-content-center color">Setores</div>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
        </table>
          </div>
        </div>
      </div>
{% endblock %}

{% block botao %}
    <div class="container">
    <div class="row">
    <div class="col-md-12">
    <div class="text-center">
    <h3>Acesso Rápido</h3>
    <button class="btn btn-secondary">Relatórios</button>
    <button class="btn btn-secondary">Estágiarios</button>
    </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block painelcaonteudo %}
<br>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <table class="table table-bordered text-center">
            <div class="d-flex justify-content-center color">Historico de Acesso</div>
            <thead class="subtabela">
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
          </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-7">
          <table class="table table-bordered text-center">
            <div class="d-flex justify-content-center color">Serviços Recentes</div>
            <thead class="subtabela">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                </tr>
            </tbody>
        </table>
          </div>
        </div>
      </div>
{% endblock %}
