{% extends 'base.html' %}
{% load filtros %}

{% block conteudo %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <h2>Cadastro de estagiário</h2>
        <br>
        <div class="form-group">
            {{ form_estagiario.nome.errors }}
            <label>Nome completo</label>
            {{ form_estagiario.nome|addclass:'form-control' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.email.errors }}
            <label>Email</label>
            {{ form_estagiario.email|addclass:'form-control' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.telefone.errors }}
            <label>Telefone</label>
            {{ form_estagiario.telefone|addclass:'form-control phone-mask' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.dt_nascimento.errors }}
            <label>Data de nascimento</label>
            {{ form_estagiario.dt_nascimento|addclass:'form-control date-mask' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.orgao.errors }}
            <label>Orgão</label>
            {{ form_estagiario.orgao|addclass:'form-control' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.setor.errors }}
            <label>Setor</label>
            {{ form_estagiario.setor|addclass:'form-control' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.contrato.errors }}
            <label>Descrição do contrato</label>
            {{ form_estagiario.contrato|addclass:'form-control' }}
        </div>

        <div class="form">
            {{ form_estagiario.documento.errors }}
            <label for="exampleFormControlFile1">Contrato</label>
            {{ form_estagiario.documento }}
          </div>

        <div class="form-group">
            {{ form_estagiario.n_contrato.errors }}
            <label>Número do contrato (CIEE)</label>
            {{ form_estagiario.n_contrato|addclass:'form-control' }}
        </div>
        <div class="form-group">
            {{ form_estagiario.inicio_contrato.errors }}
            <label>Inicio do contrato</label>
            {{ form_estagiario.inicio_contrato|addclass:'form-control date-mask' }}
        </div>

        <div class="form-group">
            {{ form_estagiario.fim_contrato.errors }}
            <label>Fim do contrato</label>
            {{ form_estagiario.fim_contrato|addclass:'form-control date-mask' }}
        </div>

        <div class="form-group">
            {{ form_estagiario.instituicao_edu.errors }}
            <label>Instituição</label>
            {{ form_estagiario.instituicao_edu|addclass:'form-control' }}
        </div>

        <div class="form-group">
            {{ form_estagiario.curso.errors }}
            <label>Curso</label>
            {{ form_estagiario.curso|addclass:'form-control' }}
        </div>



        <div class="form-group">
            {{ form_estagiario.status.errors }}
            <label>Status do Estágio</label>
            <p>Ativo</p>
            {{ form_estagiario.status }}

        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Salvar">
        </div>

    </form>

{% endblock conteudo %}