{% extends 'base.html' %}

{% block conteudo %}
    <br>
        <table class="table table-bordered text-center">
            <div class="d-flex justify-content-center color">Estagiários</div>
            <thead class="subtabela">
                <tr>
                    <th scope="col">Contrato</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Término</th>
                    <th scope="col">Situação</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            <tbody>
                {% for estagiario in estagiarios %}
                <tr>
                    <td>{{ estagiario.n_contrato }}</td>
                    <td>{{ estagiario.nome }}</td>
                    <td>{{ estagiario.curso }}</td>
                    <td>{{ estagiario.inicio_contrato }}</td>
                    <td>{{ estagiario.fim_contrato }}</td>

                    {% if estagiario.status == True %}
                    <td class="on"><strong>Ativo</strong></td>
                    {% endif %}

                    {% if estagiario.status == False %}
                    <td class="off"><strong>Inativo</strong></td>
                    {% endif %}
                    <td><a href="{% url 'exibir_estagiario' estagiario.id %}">Detalhes</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <a href="{% url 'cadastrar_estagiario' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar"></a>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#alertaModal">teste modal</button>
          <!-- MODAL ALERTA -->
          <div class="modal fade" id="alertaModal" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title">Atenção</h5>
                          <button type="button" class="close" data-dismiss="modal">
                              <span>&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          <p>

                          </p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                      </div>
                  </div>
              </div>
          </div>

  {% endblock %}
