{% extends 'base.html' %}

{% block conteudo %}
    <br>

{% include 'parciais/_messages.html' %}

    <div class="col-md-12">
        <table class="table table-bordered" style="background-color: #DCDCDC">
            <div class="d-flex justify-content-center" style="background-color: #1b3280; color: #FFFFFF">Estagiários</div>
            <thead style="background-color: #A9A9A9">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Contrato</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Término</th>
                    <th scope="col">Situação</th>
                    <th scope="col">-</th>
                </tr>
            </thead>
            <tbody>
                {% for estagiario in estagiarios %}
                <tr>

                    <td>{{ estagiario.nome }}</td>
                    <td>{{ estagiario.n_contrato }}</td></th>
                    <td>{{ estagiario.inicio_contrato }}</td>
                    <td>{{ estagiario.fim_contrato }}</td>

                    <td>
                    {% if estagiario.status == True %}
                    <i class="icone-card fas fa-check-circle"></i>
                    <i class="icone-card fas fa-desktop"></i>
                    <i class="icone-card fas fa-desktop"></i>
                    <i class="icone-card fas fa-desktop"></i>

                    {% endif %}
                    </td>


                    {% if estagiario.status == False %}
                    <td>Inativo</td>
                    {% endif %}

                    <td><a href="{% url 'exibir_estagiario' estagiario.id %}">Detalhes</a></td>

                </tr>
<h1>{{ estagiario.numero_contratos }}</h1>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="">
        <h5>Estagiários Ativos: {{ estagiarios.count }}</h5>
    </div>

    <div class="">
        <a href="{% url 'inativos' %}"><h5>Exibir Estagiários Inativos</h5></a>
    </div>


    <a href="{% url 'cadastrar_estagiario' %}"><input type="button" class="btn btn-primary mb-3" value="Cadastrar"></a>



  {% endblock %}
