<footer style=" margin-top: auto; background-color: #1b3280; position:relative; width:100%; padding: 30px 0px; line-height: 1.15; text-align: center; border: 0; height: auto;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p style="margin-top: 0">
          <div class="float-left text-left" style="color: #FFFFFF">
            <p><strong><a style="text-decoration: none; color: #FFFFFF" href="https://seed.portal.ap.gov.br/"
                  target="_blank">PRODAP - Processamento de Dados do Amapá</a></strong><br>
              Rua São José, 290 - Central, Macapá - AP, 68900-110 - Telefone (96) 3131-2600 - ouvidoria@prodap.ap.gov.br
              <br>
              Sistema desenvolvido e hospedado pelo <a style="color: #FFFFFF; text-decoration:none;" href="https://www.prodap.ap.gov.br" target="_blank">PRODAP -
                Centro de Gestão da Tecnologia da Informação</a> <br>
              2017 - 2019 Licença Creative Commons 3.0 International</p>
          </div>
          <div class="center">
            <img src="https://sso.prodap.ap.gov.br/static/images/brasao.png">
          </div>
        </div>
      </div>
    </div>
</footer>