<br>
<footer style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
          <div class="footer-conteudo float-left text-left">
            <p><strong><a class="links-footer" href="https://seed.portal.ap.gov.br/"
                  target="_blank">PRODAP - Processamento de Dados do Amapá</a></strong><br>
              Rua São José, 290 - Central, Macapá - AP, 68900-110 - Telefone (96) 3131-2600 - ouvidoria@prodap.ap.gov.br
              <br>
              Sistema desenvolvido e hospedado pelo <a class="links-footer" href="https://www.prodap.ap.gov.br" target="_blank">PRODAP -
                Centro de Gestão da Tecnologia da Informação</a> <br>
              2017 - 2019 Licença Creative Commons 3.0 International</p>
          </div>
          <div class="center">
            <img src="https://sso.prodap.ap.gov.br/static/images/brasao.png" alt="Governo do Estado do Amapa">
          </div>
        </div>
      </div>
    </div>
</footer>
